<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <script src="/js/api.js"></script>
  </head>
  <body>
    <p>Redirecting to user page...</p>
    <script>
      window.sessionStorage.setItem('token', '{{token}}');
      API.getCurrentUser().then(user => {
        window.sessionStorage.setItem('user', user.login);
        window.location = '/user.html';
      });
    </script>
  </body>
</html>
